.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 0;
}

.App main ul {
  display: flex;
  flex-flow: column wrap;
  list-style: circle;
  text-align: left;
  margin: 0 5px;
}

.App main ul li {
  list-style: circle;
  text-align: left;
  width: fit-content;
}

.App main ul li:hover {
  color: #61dafb;
  border-bottom: #61dafb solid thin;
}

.App footer a {
  margin: 25px 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header, .App main, .App footer {
  background-color: #282c34;
  /*   min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /*   justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 35px;
}

.App footer {
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
