.items {
  display: flex;
  flex-flow: row nowrap;
  padding: 5px;
  margin: 15px auto;
}

article {
  padding: 10px;
  margin: 5px;
  width: 100%;
  background-color: orangered;
  border-radius: 3px;
  color: #ccc
}